.ScrollDown {

  position: absolute;
  top: calc(var(--vh, 1vh) * 75);
  right: 5%;

  @media only screen and (min-width: 769px) {
    top: calc(var(--vh, 1vh) * 80);
  }

  .Chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }

  .Chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }

  .Chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  .Chevron:before,
  .Chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }

  .Chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }

  .Chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  @keyframes move {
    25% {
      opacity: 1;

    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  .Text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
}