.Content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 35px;
  grid-column-gap: 50px;
  justify-content: center;

  @media only screen and (min-width: 426px) {
    grid-template-columns: auto auto;
    grid-column-gap: 50px;

  }

  @media only screen and (min-width: 769px) {
    grid-template-columns: auto;
  }

  @media only screen and (min-width: 1025px) {
    grid-template-columns: auto;
    grid-column-gap: 50px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .Person {
    width: 275px;
    color: #000;
    padding: 1rem;

    &:hover {
      .Name {
        background-color: rgba(white, .7);
      }

    }

    @media only screen and (min-width: 769px) {
      display: grid;
      grid-template-columns: 200px auto;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
    }

    .Image {
      overflow: hidden;
      text-align: center;
      box-shadow: 2px 2px 4px;
      border-radius: 50% 50%;
      height: 175px;
      width: 175px;
      background-color: transparent;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }

    .Detail {
      width: 100%;

      .Quote {
        font-size: 2rem;
        font-family: "Caveat", cursive;
        padding: 1rem;
      }

      .Name {
        display: inline-block;
        padding: 1rem;
        transition: background-color .5s;
      }
    }

  }
}

.DetailsPage {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  .Image {
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 4px;
    border-radius: 50% 50%;
    height: 275px;
    width: 275px;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
    }
  }

  .Detail {
    display: flex;
    flex-direction: column;
    text-align: center;

    .Quote {
      font-size: 2rem;
      font-family: "Caveat", cursive;
      padding: 1rem;
    }

    .Full {
      padding: 1rem;
      margin: 0 auto;
      line-height: 2rem;
      font-family: "Open Sans", sans-serif;
      width: 75%;
    }

    .Name {
      padding: 1rem;
    }
  }
}